[submodule "vim/vim.symlink/pack/git-plugins/start/bundle/fugitive"]
	path = vim/vim.symlink/pack/git-plugins/start/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/pack/git-plugins/start/vim-fugitive"]
	path = vim/vim.symlink/pack/git-plugins/start/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/pack/git-plugins/start/ale"]
	path = vim/vim.symlink/pack/git-plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/vim.symlink/pack/git-plugins/start/delimitMate"]
	path = vim/vim.symlink/pack/git-plugins/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/vim.symlink/pack/git-plugins/start/nerdtree"]
	path = vim/vim.symlink/pack/git-plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/pack/git-plugins/start/tagbar"]
	path = vim/vim.symlink/pack/git-plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/vim.symlink/pack/git-plugins/start/vim-airline"]
	path = vim/vim.symlink/pack/git-plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/vim.symlink/pack/git-plugins/start/vim-easytags"]
	path = vim/vim.symlink/pack/git-plugins/start/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "vim/vim.symlink/pack/git-plugins/start/vim-indent-guides"]
	path = vim/vim.symlink/pack/git-plugins/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/vim.symlink/pack/git-plugins/start/vim-misc"]
	path = vim/vim.symlink/pack/git-plugins/start/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vim/vim.symlink/pack/git-plugins/start/vim-airline-themes"]
	path = vim/vim.symlink/pack/git-plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/vim.symlink/pack/git-plugins/start/vim-go"]
	path = vim/vim.symlink/pack/git-plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/vim.symlink/pack/git-plugins/start/vim-easymotion"]
	path = vim/vim.symlink/pack/git-plugins/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "vim/vim.symlink/pack/git-plugins/start/vim/vim.symlink/pack/git-plugins/start/accelerated-smooth-scroll"]
	path = vim/vim.symlink/pack/git-plugins/start/vim/vim.symlink/pack/git-plugins/start/accelerated-smooth-scroll
	url = https://github.com/yonchu/accelerated-smooth-scroll.git
[submodule "vim/vim.symlink/pack/git-plugins/start/accelerated-smooth-scroll"]
	path = vim/vim.symlink/pack/git-plugins/start/accelerated-smooth-scroll
	url = https://github.com/yonchu/accelerated-smooth-scroll.git
[submodule "vim/vim.symlink/pack/git-plugins/start/minimap.vim"]
	path = vim/vim.symlink/pack/git-plugins/start/minimap.vim
	url = https://github.com/wfxr/minimap.vim.git
[submodule "vim/vim.symlink/pack/git-plugins/start/ranger.vim"]
	path = vim/vim.symlink/pack/git-plugins/start/ranger.vim
	url = https://github.com/francoiscabrol/ranger.vim.git
[submodule "vim/vim.symlink/pack/git-plugins/start/fzf.vim"]
	path = vim/vim.symlink/pack/git-plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/vim.symlink/pack/git-plugins/start/fzf"]
	path = vim/vim.symlink/pack/git-plugins/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "vim/vim.symlink/pack/git-plugins/start/fugitive"]
	path = vim/vim.symlink/pack/git-plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/pack/git-plugins/start/YouCompleteMe"]
	path = vim/vim.symlink/pack/git-plugins/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "vim/vim.symlink/pack/git-plugins/start/vim-snippets.vim"]
	path = vim/vim.symlink/pack/git-plugins/start/vim-snippets.vim
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/vim.symlink/pack/git-plugins/start/ultisnips"]
	path = vim/vim.symlink/pack/git-plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/vim.symlink/pack/git-plugins/start/vim-abolish"]
	path = vim/vim.symlink/pack/git-plugins/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
