[submodule "vim/vim.symlink/pack/git-plugins/start/bundle/fugitive"]
	path = vim/vim.symlink/pack/git-plugins/start/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/pack/git-plugins/start/vim-fugitive"]
	path = vim/vim.symlink/pack/git-plugins/start/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
